.item
    width: 240px
    height: 320px
    border: 1px solid #efeeee
    box-sizing: border-box
    padding: 20px !important
    position: relative

    &:hover
        background: linear-gradient(whitesmoke, white)
        height: 380px

        .cart-button
            display: block

    .item-image
        width: 120px
        height: 120px
        background-color: purple
        margin: 0 40px 20px

    .item-name
        color: rgb(100, 100, 100)
        display: block
        display: -webkit-box
        height: 48px
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis

    .item-old-price, .item-price, .item-payment
        margin: 10px 0
        .value
            color: #000
            font-family: roboto-bold, Arial, Helvetica, sans-serif
            font-size: inherit

    .item-price
        .value
            font-size: 20px

    .cart-button
        position: absolute
        margin: auto
        display: none
        width: 200px
        height: 40px
        bottom: 20px
        left: 0
        right: 0
        border: 1px solid #c7c7c7
        line-height: 35px
        text-align: center
        user-select: none

        *
            transition: all 0.3s

        .button-label, i
            display: inline-block
            vertical-align: middle
            line-height: normal
            color: #000

        .button-label
            font-family: roboto-bold, Arial, Helvetica, sans-serif

        &:hover
            cursor: pointer !important
            
            .button-label
                margin-left: 5px

            i
                color: orange

            &::before
                content: ''
                display: inline-block
                position: absolute
                left: -1px
                top: -1px
                width: 8px
                height: 42px
                background-color: orange
        
        &:active
            transform: scale(0.95)
