@charset 'utf-8'

@import mixin
@import item

+webfont(roboto-regular)
+webfont(roboto-bold)
+webfont(roboto-bold-condensed)

body 
    *
        font-family: roboto-regular, Arial, Helvetica, sans-serif
        color: rgb(150, 150, 150)
        font-size: 12px
        line-height: 16px

.title
    font-family: roboto-bold, Arial, Helvetica, sans-serif
    font-size: 30px
    color: dimgray
    margin-bottom: 15px

.viewed, .recommended
    float: left
    margin-top: 50px

.viewed
    max-width: 240px
    margin-left: 50px

.recommended
    max-width: 720px

    .tns-outer
        position: relative
        .tns-nav
            position: absolute
            bottom: -40px
            left: 0
            right: 0
            margin: auto
            width: 200px

            button
                border: 5px solid #b5b5b5
                border-radius: 10px
                padding: 0
                margin: 0 5px

                &.tns-nav-active
                    border-color: #000
