@charset 'utf-8'

@import mixin
@import item

+webfont(roboto-regular)
+webfont(roboto-bold)
+webfont(roboto-bold-condensed)

body 
    *
        font-family: roboto-regular, Arial, Helvetica, sans-serif
        color: rgb(150, 150, 150)
        font-size: 12px
        line-height: 16px

.title
    font-family: roboto-bold, Arial, Helvetica, sans-serif
    font-size: 30px
    color: dimgray
    margin-bottom: 15px

.viewed, .recommended
    float: left
    margin-top: 50px

.viewed
    max-width: 240px
    margin-left: 50px

.recommended
    max-width: 720px

    .tns-outer
        position: relative
        .tns-nav
            position: absolute
            bottom: -40px
            left: 0
            right: 0
            margin: auto
            width: 80px

            button
                border: 5px solid #b5b5b5
                border-radius: 10px
                padding: 0
                margin: 0 5px

                &.tns-nav-active
                    border-color: #000

@media only screen and (max-width: 1000px)
    .viewed, .recommended
        float: none

    .viewed
        position: absolute
        margin: auto
        top: 50px
        left: 0
        right: 0
    
    .recommended
        position: absolute
        top: 420px
        left: 0
        right: 0
        margin: auto

@media only screen and (max-width: 730px)
    body
        *
            font-size: 10px

    .recommended
        max-width: 500px

        .item
            .item-image
                margin: -10px 25px 10px

        .tns-outer
            .tns-nav
                width: 100px


@media only screen and (max-width: 520px)
    .recommended
        max-width: 360px

@media only screen and (max-width: 380px)
    .recommended
        max-width: 200px

        .title
            line-height: 25px