@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "roboto-regular";
  src: url("fonts/roboto-regular.ttf") format("truetype"), url("fonts/roboto-regular.svg#roboto-regular") format("svg"), url("fonts/roboto-regular.eot"), url("fonts/roboto-regular.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "roboto-bold";
  src: url("fonts/roboto-bold.ttf") format("truetype"), url("fonts/roboto-bold.svg#roboto-bold") format("svg"), url("fonts/roboto-bold.eot"), url("fonts/roboto-bold.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "roboto-bold-condensed";
  src: url("fonts/roboto-bold-condensed.ttf") format("truetype"), url("fonts/roboto-bold-condensed.svg#roboto-bold-condensed") format("svg"), url("fonts/roboto-bold-condensed.eot"), url("fonts/roboto-bold-condensed.woff") format("woff"); }

.title {
  font-family: roboto-bold, Arial, Helvetica, sans-serif;
  color: dimgray; }

.viewed, .recommended {
  display: inline-block; }

.item {
  width: 200px;
  height: 600px; }
  .item:hover {
    background-color: whitesmoke; }
