.item {
  width: 240px;
  height: 320px;
  border: 1px solid #efeeee;
  box-sizing: border-box;
  padding: 20px !important;
  position: relative; }
  .item:hover {
    background: linear-gradient(whitesmoke, white);
    height: 380px; }
    .item:hover .cart-button {
      display: block; }
  .item .item-image {
    width: 120px;
    height: 120px;
    background-color: purple;
    margin: 0 40px 20px; }
  .item .item-name {
    color: #646464;
    display: block;
    display: -webkit-box;
    height: 48px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .item .item-old-price, .item .item-price, .item .item-payment {
    margin: 10px 0; }
    .item .item-old-price .value, .item .item-price .value, .item .item-payment .value {
      color: #000;
      font-family: roboto-bold, Arial, Helvetica, sans-serif;
      font-size: inherit; }
  .item .item-price .value {
    font-size: 20px; }
  .item .cart-button {
    position: absolute;
    margin: auto;
    display: none;
    width: 200px;
    height: 40px;
    bottom: 20px;
    left: 0;
    right: 0;
    border: 1px solid #c7c7c7;
    line-height: 35px;
    text-align: center;
    user-select: none; }
    .item .cart-button * {
      transition: all 0.3s; }
    .item .cart-button .button-label, .item .cart-button i {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      color: #000; }
    .item .cart-button .button-label {
      font-family: roboto-bold, Arial, Helvetica, sans-serif; }
    .item .cart-button:hover {
      cursor: pointer !important; }
      .item .cart-button:hover .button-label {
        margin-left: 5px; }
      .item .cart-button:hover i {
        color: orange; }
      .item .cart-button:hover::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: -1px;
        top: -1px;
        width: 8px;
        height: 42px;
        background-color: orange; }
    .item .cart-button:active {
      transform: scale(0.95); }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "roboto-regular";
  src: url("fonts/roboto-regular.ttf") format("truetype"), url("fonts/roboto-regular.svg#roboto-regular") format("svg"), url("fonts/roboto-regular.eot"), url("fonts/roboto-regular.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "roboto-bold";
  src: url("fonts/roboto-bold.ttf") format("truetype"), url("fonts/roboto-bold.svg#roboto-bold") format("svg"), url("fonts/roboto-bold.eot"), url("fonts/roboto-bold.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "roboto-bold-condensed";
  src: url("fonts/roboto-bold-condensed.ttf") format("truetype"), url("fonts/roboto-bold-condensed.svg#roboto-bold-condensed") format("svg"), url("fonts/roboto-bold-condensed.eot"), url("fonts/roboto-bold-condensed.woff") format("woff"); }

body * {
  font-family: roboto-regular, Arial, Helvetica, sans-serif;
  color: #969696;
  font-size: 12px;
  line-height: 16px; }

.title {
  font-family: roboto-bold, Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: dimgray;
  margin-bottom: 15px; }

.viewed, .recommended {
  float: left;
  margin-top: 50px; }

.viewed {
  max-width: 240px;
  margin-left: 50px; }

.recommended {
  max-width: 720px; }
  .recommended .tns-outer {
    position: relative; }
    .recommended .tns-outer .tns-nav {
      position: absolute;
      bottom: -40px;
      left: 0;
      right: 0;
      margin: auto;
      width: 200px; }
      .recommended .tns-outer .tns-nav button {
        border: 5px solid #b5b5b5;
        border-radius: 10px;
        padding: 0;
        margin: 0 5px; }
        .recommended .tns-outer .tns-nav button.tns-nav-active {
          border-color: #000; }
